.shopping-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.shopping-list--paper {
  border: 1px solid black;
  width: 400px;
  height: 500px;
  padding: 50px 20px 50px 20px;
}

.shopping-list--content {
  display: flex;
  flex-direction: column;
}
